body
{
background-image:url('custmer.jpg');
background-repeat:no-repeat,repeat;
background-size:cover;
}
h1
{
text-align:center;
font-size:80px;
color:blue;
}
input[type=text],input[type="password"],input[type="contact"]
{
width:50%;
padding:10px;
border-radius:4px;
border:2px solid black;
box-sizing:border-box;
margin-top:6px;
margin-bottom:6px;
resize:vertical;
}
input[type=email]
{
width:50%;
padding:10px;
border-radius:4px;
border:2px solid black;
box-sizing:border-box;
margin-top:6px;
margin-bottom:6px;
resize:vertical;
}
*{box-sizing:border-box;}
button
{
background-color:white;
color:blue;
padding:12px 60px;
border:none;
border-radius:5px;
cursor:pointer;
}
.container
{
margin:auto;
width:30%;
border-radius:10px;
padding:2px;
}
label
{
color:blue;
font-size:20px;
text-align:left;
}