*{
	margin:0;
	padding:0;
}
.neha{
	height:100%;
	width:100%;
	background-image:url(login.jpg);
	background-position:center;
	background-size:cover;
}
.form-box{
	width:400px;
	height:450px;
	position:absolute;
	background:blue;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:70px 30px;
}
h1{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:28px;
	font-family:italic;
}
.form-box p{
	margin:0;
	padding:0;
	font-weight:bold;
}
.form-box input{
	width:100%;
	margin-bottom:20px;
	
}

.form-box input[type="text"],input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	
}
.form-box input[type="submit"],input[type="reset"]
{
	border:none;
	outline:none;
	height:40px;
	width:150px;
	background:gray;
	color:#000;
	font-size:18px;
	font-weight:bold;
	border-radius:20px;
}
.form-box a{
	text-decoration:none;
	font-size:15px;
	line-height:20px;
	color:black;
}